<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <title>Rafael Shoes</title>
        <meta charset utf="8">

        <!--Scripts-->
        <!-- AngularJS 1.5.5 -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <!-- app.js -->
        <script src="js/app.js"></script>
        <!-- directives -->
        <script src="js/directives/home-controller.js"></script>
        <script src="js/directives/detalhe-controller.js"></script>
        <!--shop-kart-js-->
        <script src="js/lib/simpleCart.min.js"></script>
        <!--default-js-->
        <script src="js/lib/jquery-2.1.4.min.js"></script>
        <!--bootstrap-js-->
        <script src="js/lib/bootstrap.min.js"></script>
        <!-- FlexSlider -->
        <script src="js/lib/imagezoom.js"></script>
        <script defer src="js/lib/jquery.flexslider.js"></script>
        <script>
        $(window).load(function() {
            $('.flexslider').flexslider({
              animation: "slide",
              controlNav: "thumbnails"
            });
        });
        </script>

        <!--css-->
        <!--bootstrap-->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!--coustom css-->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <!-- FlexSlider -->
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    </head>

    <body ng-app="RafaelShoes" ng-controller="appController as appCtrl">


		<home ng-if="viewFlag == 1"> </home>

        <detalhe ng-if="viewFlag == 2"> </detalhe>

    </body>
    
</html>