    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li><a ng-click="goTo(minhaconta)" role="button">Minha Conta</a></li>
                <li class="active">Alterar Endereço</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá, {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
                        <p ng-if="enderecos.length >= 1" role="button" class="btn btn-default" ng-click="goTo(enderecounico, 0)">{{enderecos[0].Log_End}}, {{enderecos[0].Num_End}}, {{enderecos[0].Comp_End}}, {{enderecos[0].CEP_End}}, {{enderecos[0].Cid_End}}, {{enderecos[0].Est_End}}, {{enderecos[0].Pais_End}}</p>
                        <p ng-if="enderecos.length >= 2" role="button" class="btn btn-default" ng-click="goTo(enderecounico, 1)">{{enderecos[1].Log_End}}, {{enderecos[1].Num_End}}, {{enderecos[1].Comp_End}}, {{enderecos[1].CEP_End}}, {{enderecos[1].Cid_End}}, {{enderecos[1].Est_End}}, {{enderecos[1].Pais_End}}</p>
                        <p ng-if="enderecos.length >= 3" role="button" class="btn btn-default" ng-click="goTo(enderecounico, 2)">{{enderecos[2].Log_End}}, {{enderecos[2].Num_End}}, {{enderecos[2].Comp_End}}, {{enderecos[2].CEP_End}}, {{enderecos[2].Cid_End}}, {{enderecos[2].Est_End}}, {{enderecos[2].Pais_End}}</p>  
					</div>
				</div>
        </div>
    </div>