    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li class="active">Cadastrar Produto</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá, {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
 						<form style="float: left;     width: 1200px;">
							<ul>
								<li class="text-info">Nome:</li>
								<input type="text" required>
			                </ul>
			                <ul>
								<li class="text-info">Descrição: </li>
								<input type="text">
							 </ul>				 
							<ul>
								<li class="text-info">Fornecedor: </li>
								<li><input type="text"></li>
							</ul>
							<ul>
								<li class="text-info">Tamanho:</li>
								<li><input type="number"></li>
							</ul>	
			                <ul>
			                    <li class="text-info">Cor:</li>
			                    <li><input type="text"></li>
			                </ul>			
			                <ul>
			                    <li class="text-info">Peso:</li>
			                    <li><input type="number" step=".01"></li>
			                </ul>
			            	<ul>
			                    <li class="text-info">Largura:</li>
			                    <li><input type="number" step=".01"></li>
			                </ul>
			                <ul>
			                    <li class="text-info">Comprimento:</li>
			                    <li><input type="number" step=".01"></li>
			                </ul>
			                <ul>
			                    <li class="text-info">Altura:</li>
			                    <li><input type="number" step=".01"></li>
			                </ul>	
			                <ul>
			                    <li class="text-info">Preço:</li>
			                    <li><input type="number" step=".01"></li>
			                </ul>	
			                <ul>
			                    <li class="text-info">Estoque:</li>
			                    <li><input type="number"></li>
			                </ul>
			                <ul>
			                    <li class="text-info">Imagem:</li>
			                    <li><input type="file" accept="image/*"></li>
			                </ul>
							<input type="submit" value="Cadastrar Produto" ng-click="editar()">
						</form>  
					</div>
				</div>
        </div>
    </div>