<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ng-click="goTo(home)" role="button">Home</a></li>
            <li class="active">Produtos</li>
        </ol>
    </div>
</div>
<div class="shop-grid">
    <div class="container"> 
        <itemproduto ng-repeat="produto in produtos1"></itemproduto>
    </div>
    <div class="container"> 
        <itemproduto ng-repeat="produto in produtos2"></itemproduto>
    </div>
    <div class="container"> 
        <itemproduto ng-repeat="produto in produtos3"></itemproduto>
    </div>
    <div class="clearfix"></div>
</div>
</div>
