    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="appCtrl.goTo(home)" role="button">Home</a></li>
                <li><a ng-click="goTo(minhaconta)" role="button">Minha Conta</a></li>
                <li class="active">Editar Perfil</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
				        <p>Editar Perfil</p>
				        <form style="float: left;     width: 1200px;">
							<ul>
								<li class="text-info">Nome: </li>
								<input type="text" value="usuario.nome" ng-model="usuario.nome">
			                </ul>
			                <ul>
								<li class="text-info">Sobrenome: </li>
								<input type="text" value="usuario.sobrenome" ng-model="usuario.sobrenome">
							 </ul>				 
							<ul>
								<li class="text-info">Email: </li>
								<li><input type="email" value="usuario.email" ng-model="usuario.email"></li>
							</ul>
							<ul>
			                    <li class="text-info">Senha:</li>
			                    <li><input type="password" value="usuario.senha" ng-model="usuario.senha"></li>
			                </ul>
							<ul>
								<li class="text-info">Número do Celular:</li>
								<li><input type="tel" value="usuario.celular" ng-model="usuario.celular"></li>
							</ul>	
			                <ul>
			                    <li class="text-info">Telefone Residencial:</li>
			                    <li><input type="tel" value="usuario.telefone" ng-model="usuario.telefone"></li>
			                </ul>				
							<input type="submit" value="Salvar Alterações" ng-click="goTo(minhaconta)">
						</form>
					</div>
				</div>
        </div>
    </div>
