    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="appCtrl.goTo(home)" role="button">Home</a></li>
                <li><a ng-click="goTo(minhaconta)" role="button">Minha Conta</a></li>
                <li class="active">Editar Perfil</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá, {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
				        <p>Editar Perfil</p>
				        <form style="float: left;     width: 1200px;">
							<ul>
								<li class="text-info">Nome Completo: </li>
								<input type="text" value="usuario.nome" ng-model="cliente.Nome_Cli">
			                </ul>			 
							<ul>
								<li class="text-info">Email: </li>
								<li><input type="email" value="usuario.email" ng-model="cliente.Email_Cli"></li>
							</ul>
							<ul>
			                    <li class="text-info">Senha:</li>
			                    <li><input type="password" value="usuario.senha" ng-model="account.Senha"></li>
			                </ul>
							<ul>
								<li class="text-info">Número do Celular:</li>
								<li><input type="tel" value="usuario.celular" ng-model="cliente.Tel_Cel_Cli"></li>
							</ul>	
			                <ul>
			                    <li class="text-info">Telefone Residencial:</li>
			                    <li><input type="tel" value="usuario.telefone" ng-model="cliente.Tel_Res_Cli"></li>
			                </ul>				
							<input type="submit" value="Salvar Alterações" ng-click="salvar()">
						</form>
					</div>
				</div>
        </div>
    </div>
