    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="appCtrl.goTo(home)" role="button">Home</a></li>
                <li><a ng-click="appCtrl.goTo(carrinho)" role="button">Carrinho</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
				        <p>Selecione Endereço:</p>
						<input type="radio" name="endereco" value="Endereco1" ng-value="Endereco1" checked> Endereço 1
                        <!-- Espaço no HTML --> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <!-- Espaço no HTML -->
                    	<input type="radio" name="endereco" value="Endereco2" ng-value="Endereco2"> Endereço 2
                    	<!-- Espaço no HTML --> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <!-- Espaço no HTML -->
                    	<input type="radio" name="endereco" value="Endereco3" ng-value="Endereco3"> Endereço 3
				        <p>Selecione tipo de entrega:</p>
				        <input type="radio" name="entrega" value="Total" ng-value="Total" checked> Total
                        <!-- Espaço no HTML --> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <!-- Espaço no HTML -->
                    	<input type="radio" name="entrega" value="Parcial" ng-value="Parcial"> Parcial
				        <p>Pagamento:</p>
				        <a role="button" class="btn btn-default" ng-click>Boleto</a>
				        <a role="button" class="btn btn-default" ng-click>Cartão</a>
					</div>
				</div>
        </div>
    </div>