    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="appCtrl.goTo(home)" role="button">Home</a></li>
                <li class="active">Devolução</li>
            </ol>
        </div>
        <div class="container">
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
				        <p>Caso queira devolver algum produto entre em contato conosco pelo email: 3rafaelshoes@gmail.com</p>   
					</div>
				</div>
        </div>
    </div>
