<div class="cart-header">
    <div class="close1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item cyc">
                    <img src="{{produto.img}}" class="img-responsive" alt=""/>
                </div>
               <div class="cart-item-info">
                    <ul class="qty">
                        <li><p>Tamanho : {{produto.tamanho}}</p></li>
                        <li><p>Quantidade : {{produto.quantidade}}</p></li>
                        <li><p>Preço : {{produto.preco}}</p></li>
                    </ul>
                    <div class="delivery">
                         <p>Preço Total: {{produto.precoTotal}}</p>
                         <div class="clearfix"></div>
                    </div>	
               </div>
            <div class="clearfix"></div>
    </div>
</div>
                 