    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="appCtrl.goTo(home)" role="button">Home</a></li>
                <li class="active">Minha Conta</li>
            </ol>
        </div>
        <div class="container">
	        <div>Olá {{nome}}</div>
	        <a role="button" class="btn btn-default" ng-click="logout()">LOGOUT</a>
	        <div class="reg-form">
				<div class="container">
					<div class="reg">
				        <p>Pedidos:</p>
				        <a role="button" class="btn btn-default" ng-click="appCtrl.goTo(meuspedidos)">Meus Pedidos</a>
				        <p>Perfil:</p>
				        <a role="button" class="btn btn-default" ng-click="appCtrl.goTo(alterarcliente)">Editar Perfil</a>
				        <p>Endereços:</p>
				        <a role="button" class="btn btn-default" ng-click="appCtrl.goTo(cadastrarendereco)">Cadastrar Endereço</a>
				        <a role="button" class="btn btn-default" ng-click="appCtrl.goTo(alterarendereco)">Editar Endereço</a>
				        <a role="button" class="btn btn-default" ng-click="appCtrl.goTo(removerendereco)">Remover Endereço</a>
					</div>
				</div>
        </div>
    </div>