<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ng-click="goTo(home)">Home</a></li>
            <li class="active">Produtos</li>
        </ol>
    </div>
</div>
<div class="products-gallery">
   <div class="container">
       <div class="col-md-9 grid-gallery">
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                 <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid4.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>01</h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid6.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>02</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid3.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>03</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid5.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>04</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid7.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>05</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid8.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>06</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid9.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>07</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid10.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>08</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid11.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>style 09</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()">Visualizar</a>
                </div>
            </div>
    <div class="clearfix"></div>
        </div>
       <div class="col-md-3 grid-details">
            <div class="grid-addon">
                <section  class="sky-form">
			 <div class="product_right">
				 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categorias</h4>
<!-- 						 <div class="tab1">
					 <ul class="place">								
						 <li class="sort">Shoes</li>
						 <li class="by"><img src="images/do.png" alt=""></li>
							<div class="clearfix"> </div>
					  </ul> -->
					 <div class="single-bottom">						
							<a href="#"><p>Corrida</p></a>
							<a href="#"><p>Futebol</p></a>
							<a href="#"><p>Casual</p></a>
							<a href="#"><p>Social</p></a>
				     </div>
			      </div>						 				  
				  <!--script-->
				<script>
					$(document).ready(function(){
						$(".tab1 .single-bottom").hide();
						$(".tab2 .single-bottom").hide();
						$(".tab3 .single-bottom").hide();
						$(".tab4 .single-bottom").hide();
						$(".tab5 .single-bottom").hide();
						
						$(".tab1 ul").click(function(){
							$(".tab1 .single-bottom").slideToggle(300);
							$(".tab2 .single-bottom").hide();
							$(".tab3 .single-bottom").hide();
							$(".tab4 .single-bottom").hide();
							$(".tab5 .single-bottom").hide();
						})
						$(".tab2 ul").click(function(){
							$(".tab2 .single-bottom").slideToggle(300);
							$(".tab1 .single-bottom").hide();
							$(".tab3 .single-bottom").hide();
							$(".tab4 .single-bottom").hide();
							$(".tab5 .single-bottom").hide();
						})
						$(".tab3 ul").click(function(){
							$(".tab3 .single-bottom").slideToggle(300);
							$(".tab4 .single-bottom").hide();
							$(".tab5 .single-bottom").hide();
							$(".tab2 .single-bottom").hide();
							$(".tab1 .single-bottom").hide();
						})
						$(".tab4 ul").click(function(){
							$(".tab4 .single-bottom").slideToggle(300);
							$(".tab5 .single-bottom").hide();
							$(".tab3 .single-bottom").hide();
							$(".tab2 .single-bottom").hide();
							$(".tab1 .single-bottom").hide();
						})	
						$(".tab5 ul").click(function(){
							$(".tab5 .single-bottom").slideToggle(300);
							$(".tab4 .single-bottom").hide();
							$(".tab3 .single-bottom").hide();
							$(".tab2 .single-bottom").hide();
							$(".tab1 .single-bottom").hide();
						})	
					});
				</script>
				<!-- script -->					 
		 </section>				 
		   <!---->
			 <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
			<script type='text/javascript'>//<![CDATA[ 
			$(window).load(function(){
			 $( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: 400000,
						values: [ 2500, 350000 ],
						slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
						}
			 });
			$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

			});//]]>  

			</script>
			<section  class="sky-form">
				<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Nome</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Air Max (30)</label>
						</div>
						<div class="col col-4">
<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Armagadon   (30)</label>
<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Helium (30)</label>
<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kyron     (30)</label>
						</div>
					</div>
		   </section>
		 <section  class="sky-form">
				<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Marca</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Nike</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Adidas</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Puma</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Under Armour</label>
						</div>
					</div>
		   </section>		
            </div>
       </div>
    <div class="clearfix"></div>
    </div> 
</div>
