<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ng-click="goTo(home)" role="button">Home</a></li>
            <li class="active">Tenis</li>
        </ol>
    </div>
</div>
<div class="products-gallery">
   <div class="container">
       <div class="col-md-9 grid-gallery">
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                 <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid4.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>01</h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid6.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>02</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid3.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>03</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid5.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>04</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid7.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>05</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid8.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>06</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid9.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>07</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid10.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>08</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><img src="images/grid11.jpg" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>style 09</h3>
                            </div>
                            <div class="pull-right styl-price">
<p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">R$190</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
           <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <!-- end normal -->
                <div class="quick-view">
                    <a ng-click="goToDetalhe()" role="button">Visualizar</a>
                </div>
            </div>
    <div class="clearfix"></div>
    </div> 
</div>
