    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ng-click="goTo(home)" role="button">Home</a></li>
                <li><a ng-click="goTo(login)" role="button">Login</a></li>
                <li class="active">Esqueci Minha Senha</li>
            </ol>
        </div>
    </div>
    <div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">
                     <h3>Esqueci Minha Senha</h3>
                     <br>
                     <div class="strip"></div>
                     <form>
                         <h5>Email:</h5>    
                         <input type="text" value="">              
                         <input type="submit" value="Gerar nova senha" ng-click="">

                     </form>
            </div>
        </div>
    </div>
</div>